<ion-content>
  <div class="content">
    <div class="img-perfil">

      <ion-avatar (click)="changeImage()">
        <ion-img id="imageViewPerfil" *ngIf="imageUrlView !== null; else placheolder_avatar;" [src]="imageUrlView"></ion-img>
        <ng-template #placheolder_avatar>
          <ion-fab-button class="fallback">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ng-template>
      </ion-avatar>

      <!-- <div class="view-img">
        <ion-img id="img-fotos" [src]="photoService.imgPhotoUrl"></ion-img>
      </div>
      <ion-fab-button class="take-picture" (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button> -->
    </div>
    <form class="login" [formGroup]="registerForm" (ngSubmit)="register()">

      <ion-item fill="solid" class="input ion-margin-bottom">
        <ion-input type="text" class="input-field" placeholder="Nome Completo" formControlName="name"></ion-input>
      </ion-item>
      <ion-item fill="solid" class="input ion-margin-bottom">
        <ion-input type="email" class="input-field" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item fill="solid" class="input ion-margin-bottom">
        <ion-input type="password" class="input-field" placeholder="Senha" formControlName="password"></ion-input>
      </ion-item>
      <ion-item fill="solid" class="input ion-margin-bottom">
        <ion-input type="password" class="input-field" placeholder="Confimar senha" formControlName="confirmPassword">
        </ion-input>
      </ion-item>

      <ion-button type="submit" class="button" fill="outline" [disabled]="registerForm.invalid">Criar conta</ion-button>
      <ion-button class="button" fill="outline" [routerLink]="['/login']">Cancelar</ion-button>
    </form>
  </div>
</ion-content>
