<ion-content>
  <div class="card-content">
    <ion-card>
      <img [src]="imageFoodUrl" />
      <ion-card-header>
        <ion-card-title id="nameFood"></ion-card-title>
        <div class="votes">
          <ion-card-subtitle>Votos</ion-card-subtitle>
          <ion-card-subtitle id="votes"></ion-card-subtitle>
        </div>
      </ion-card-header>
      <ion-card-content id="foodIngredientes"></ion-card-content>
    </ion-card>
  </div>

  <div class="buttons">
    <button id="bntVote" (click)="voteFood()">Votar nesta sobremesa</button>
    <button class="cancel" [routerLink]="['/home']">Cancelar</button>
  </div>
</ion-content>
