.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-perfil{
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-avatar {
  width: 200px;
  height: 200px;
}

.profile {
  width: 90%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile ion-item {
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.profile ion-item ion-label {
  font-size: 1.8rem;
  color: #2a2a2a;
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile ion-item ion-label ion-icon {
  margin-right: 8px;
}

.profile ion-item ion-input {
  font-size: 1.8rem;
  color: #2a2a2a;
}

.profile .buttons {
  margin-bottom: 20px;
}

button {
  width: 96%;
  height: 50px;
  border-radius: 8px;
  padding: 5px;
  color: #FFF;
  background: #007065;
  font-size: 2rem;
}

.cancel{
  border: 3px solid #dc3545;
  color: #dc3545;
  background: transparent;
  margin-top: 15px;
}
