<ion-content>
  <div class="content">

    <div class="logo">
      <ion-icon class="img-logo" name="restaurant-outline"></ion-icon>
      <!-- <ion-img class="img-logo" src="../../../assets/icon/logo.png"></ion-img> -->
    </div>

    <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="at-outline"></ion-icon>
          E-mail
        </ion-label>
        <ion-input type="email" class="input-field" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key-outline"></ion-icon>
          Senha
        </ion-label>
        <ion-input type="password" class="input-field" formControlName="password"></ion-input>
      </ion-item>

      <ion-button color="none" type="submit" [disabled]="loginForm.invalid">Entrar</ion-button>

      <p>Não tem conta ainda, <a [routerLink]="['/create-user']">Cadastre-se</a></p>

    </form>
  </div>
</ion-content>
