<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header class="header">
      <ion-avatar>
        <img id="imageHome" [src]="profile.imageUrl" />
      </ion-avatar>
      <ion-title id="homeTitle">{{profile.name}}</ion-title>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="openPagePerfil()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item (click)="openPageFavoriteFoods()">
          <ion-icon name="star-outline"></ion-icon>
          <ion-label>Comida favorita</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Hora do Rango</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <!-- (click)="openPageDetails(food.foodUid)" -->
      <div class="card-container" *ngFor="let food of foods">
        <ion-card class="card" (click)="openPageDetails(food.foodUid)">
          <div class="image-view">
            <ion-img class="img-comida-view" [src]="food.imageUrl"></ion-img>
          </div>
          <div class="texts">
            <ion-title class="nome-comida">{{food.nameFood}}</ion-title>
            <ion-title class="nome-comida">Votos: {{food.votes}}</ion-title>
          </div>
        </ion-card>
      </div>

    </ion-content>
  </div>
</ion-app>
