*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-food {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-view {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.image-view ion-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.fallback {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: #FFF;
  background: #007065;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-selet{
  width: 100%;
  height: 70px;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.images-selet .icon-box{
  border-radius: 10%;
  color: #FFF;
  background: #007065;
  width: 45%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon{
  width: 40px;
  height: 40px;
}

.register-food {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-food .fields {
  width: 100%;
  height: 70%;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-food .fields ion-item{
  width: 94%;
}

.register-food .fields ion-item ion-label,
.register-food .fields ion-item ion-input,
.register-food .fields ion-item ion-textarea{
  font-size: 1.8rem;
}


.register-food .buttons {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button {
  width: 96%;
  height: 50px;
  border-radius: 8px;
  padding: 5px;
  color: #FFF;
  background: #007065;
  font-size: 2rem;
}

button:disabled{
  opacity: 0.5;
}

.cancel{
  border: 3px solid #dc3545;
  color: #dc3545;
  background: transparent;
  margin-top: 15px;
}
