<ion-content>
  <div class="content">
    <div class="img-food">
      <div class="image-view">
        <ion-img id="imageViewFood" *ngIf="imageUrlView !== null; else placheolder_avatar;" [src]="imageUrlView">
        </ion-img>
        <ng-template #placheolder_avatar>
          <div class="fallback">
            <ion-icon name="image-outline"></ion-icon>
          </div>
        </ng-template>
      </div>
      <div class="images-selet">
        <div class="icon-box" (click)="choseImage()">
          <ion-icon name="folder-open-outline"></ion-icon>
        </div>
        <div class="icon-box" (click)="takePicture()">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
      </div>
    </div>

    <form class="register-food" [formGroup]="foodForm" (ngSubmit)="registerFood()">
      <div class="fields">
        <ion-item>
          <ion-label position="floating">Nome do prato</ion-label>
          <ion-input type="text"  formControlName="nameFood"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Principais ingredientes</ion-label>
          <ion-textarea rows="6" formControlName="mainIngredients"></ion-textarea>
        </ion-item>
      </div>

      <div class="buttons">
        <button type="submit"[disabled]="foodForm.invalid">Registrar</button>
        <button class="cancel" [routerLink]="['/home']">Cancelar</button>
      </div>
    </form>
  </div>
</ion-content>
